{% extends 'movierating/base.html' %}
{% load movie_extras %}
   <!-- safe filter on for raw HTML stored in database -->
   {% block content %}
   {% if user.is_authenticated %}
     <header>
       <div class="row">
         <div class="col-sm-10">
           <h2>{{ movie.movie_title | safe }}</h2>
         </div>
         <div class="col-xs-1">
            {% if user.is_authenticated %}
              <a class="btn btn-outline-secondary" href="{% url 'movie_update' movie.pk %}">edit</a>
            {% endif %}
          </div>
         <div class="col-xs-1">
            {% if user.is_authenticated %}
              &nbsp;<a class="btn btn-outline-warning" href="{% url 'movie_delete' movie.pk %}">delete</a>
            {% endif %}
          </div>
         
         
       </div>
     </header>
   
       {% if movie.imdbid %}
          <div class="row">
            <div class="col-sm-2">
              <p>IMDBId</p>
            </div>
            <div class="col-sm-10">
              <p>{{ movie.imdbid }}</p>
            </div>
          </div>
        {% endif %}

        {% if movie.tmdbid %}
          <div class="row">
            <div class="col-sm-2">
              <p>TMDBId</p>
            </div>
            <div class="col-sm-10">
              <p>{{ movie.tmdbid }}</p>
            </div>
          </div>
        {% endif %}

        

        {% if movie.genre.all %}
          <div class="row">
            <div class="col-sm-2">
              <p>Genres</p>
            </div>
            <div class="col-sm-10">
              {% for g in movie.genre.all %}
                {{ g }}
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if movie.tags.all %}
          <div class="row">
            <div class="col-sm-2">
              <p>Tags</p>
            </div>
            <div class="col-sm-10">
              {% for g in movie.tags.all %}
                {{ g }},
              {% endfor %}
            </div>
          </div>
        {% endif %}
          

        {% if movie.user_rating.all %}
          <div class="row">
            <div class="col-sm-2">
              <p>Movie Rating</p>
            </div>
            <div class="col-sm-10">
                <table border="1">
                  <tr>
                    <th>User Id</th>
                    <th>Gender</th>
                    <th>Age Range</th>
                    <th>Zipcode</th>
                    <th>Work</th>
                    <th>Rating To Movie</th>
                    <th>TimeStamp</th>
                  </tr>
                  {% for r in movie.movierating_set.all %}
                  <tr>
                    <td>{{ r.user.user_id }}</td>
                    <td>{{ r.user.gender }}</td>
                    <td>{{ r.user.age_range }}</td>
                    <td>{{ r.user.zipcode }}</td>
                    <td>{{ r.user.work }}</td>
                    <td>{{ r.rating }}</td>
                    <td>{{ r.timestamp }}</td>
                  </tr>
                  {% endfor %}
                </table>
            </div>
          </div>
        {% endif %}

  {% else %}
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}
        
   {% endblock content %}