{% extends 'movierating/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <h2>New Movie</h2>
  </header>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate>
    {% csrf_token %}

    <div class="row">
      <div class="col-6">
        {{ form.movie_title|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        {{ form.imdbid|as_crispy_field }}
      </div>
    </div>


    <!-- Restore missing fields rendered using Bootstrap rows and columns classes --> 
    
    <div class="row">
        <div class="col-6">
          {{ form.tmdbid|as_crispy_field }}
        </div>
      </div>

      <div class="row">
          <div class="col-6">
            {{ form.genre|as_crispy_field }}
          </div>
        </div>

        
        <div class="row">
          <div class="col-6">
            {{ form.tag|as_crispy_field }} <p>For multiple tags, please split by ','</p>
          </div>
        </div>
        
    <button type="submit" class="btn btn-outline-success">Add</button>
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'movies' %}">cancel</a>
  </form>

{% endblock content %}

