/*
 * Page layout
 */

 body {
    background-color:#F4F4F4;
    color: rgba(46, 46, 46, 0.8)
}

/*
 * Navigation
 */

nav {
    background-color: transparent;
}

/*
 * Bootstrap navbar
 */

.navbar-custom {
    background-color: #dcd0c0;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(46, 46, 46, 0.8);
    padding: 0.8rem 1rem;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(110, 102, 75);
    padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #C0B283;
    background-color: #F4F4F4; /* add background-color to active links */
}

/*
 * Bootstrap Pagination
 */


.pagination > li.page-item {
    background-color: transparent;
    border: 1px solid #C0B283;
    color: rgba(46, 46, 46, 0.8);
    font-size: 0.75rem;
    /* line-height: 1rem; */
    text-decoration: none;
}

.pagination > li.page-item.active {
    background-color: #dcd0c0;
    color: rgb(85, 85, 81);
    padding: 0.25rem 0.75rem;
}

/*
 * HTML 5 main
 */

main {
    background-color: transparent;
}

.container-fluid {
    background-color: transparent;
    /* padding: 0.5rem 0.5rem; */
}

/*
 * Footer
 */

footer {
    background-color: #dcd0c0;
    padding: 0.8rem 1rem;
}

footer a:link {
    background-color: transparent;
    color: rgb(77, 76, 73);
    text-decoration: none;
}

footer a:active {
    background-color: transparent;
    color: #EAE7DC;
}

footer a:hover {
    background-color: transparent;
    color: #DAAD86;
    /* color: #D8C3A5; */
}

footer a:visited {
    color: #EAE7DC;
    text-decoration: none;
}

footer p {
    background-color: #dcd0c0;
    display: block;
    text-align: left;
    font-size: 0.875rem;
    font-stretch: condensed;
    color: rgb(77, 76, 73);
}

/*
 * Headings
 */

h1, h2, h3, h4 {
    color: #C0B283;
    /* margin-top: 1em; */
    margin-bottom: 0.5rem;
    text-align: left;
}

/*
 * Paragraphs
 */

p {
    /* color: #8E8D8A; */
    color: #373737;
    text-align: justify;
}

/*
 * Links
 * https://www.w3schools.com/css/css_link.asp
 */

a:link {
    background-color: transparent;
    color: #C0B283;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    color: rgb(139, 129, 94);
    /* color: #D8C3A5; */
}

a:active {
    background-color: transparent;
    color: #8E8D8A;
}

a:visited {
    background-color: transparent;
    color: #8E8D8A;
    text-decoration: none;
}

